[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-moneyed = "==2.0"
pandas = "==1.4.0"
fastapi = "==0.72.0"
uvicorn = "==0.15.0"

[dev-packages]
pylint = "*"
mypy = "*"

[requires]
python_version = "3.10"
